*{margin: 0; padding: 0; box-sizing: border-box; color: inherit; }

@font-face {
   font-family: "Noto";
   src: url(../font/noto/NotoSansCJKkr-Medium.otf);
   font-weight: 500;
}

*{font-family: "Noto"; font-weight: 500;}
a{text-decoration: none;}
img{width: 100%; height: 100%; object-fit: cover;}
.none{display: none;}
.flex{display: flex;}
.grid{display: grid;}
.mainWrap{background:#fff;}

.container{width: 1400px; margin: 0 auto;}
h2.title{font-size: 1.9rem;}
header{width: 100%; position: fixed; top: 0; left: 0; z-index: 10000; background: #fff; }
header .menuBtn{font-size: 1.4rem; background: #000; width: 40px; height: 40px; text-align: center; line-height: 40px; border-radius: 50%; color: #999;}
header nav{height: 100px; align-items: center; justify-content: space-between;}
header nav .menu{ gap: 2rem;}
header .logo{width: 200px; height: 80px;}

#slide{width: 100%; overflow: hidden;}
#slide .text_box{width: 1400px; margin: 0 auto; justify-content: flex-end; padding-top: 7rem; padding-bottom: 2rem;}
video{min-width: 34%; height: 70vh;  object-fit: cover;}

#gen .gen{height: 100px; align-items: center; grid-template-columns: repeat(2,682.5px); gap: 35px;}
#gen .gen .left{flex-direction: column; gap: .4rem;}

#gen .slide {width: 100%; overflow: hidden; position: relative;}
#gen .gen_slide {width: 200%;}
#gen .gen_slide .item{flex-direction: column; gap: .4rem;}
#gen .gen_slide .item .text_box{ justify-content: space-between;}
#gen .gen_slide .item .text_box .little{color: #999 ;}
#gen .gen_slide .item .img_box{width: 682.5px;}
 
.prev1,.prev2{position: absolute; padding: 10px; background: #999; border-radius: 50%; color: #fff; z-index: 1000;} 
.next1,.next2{position: absolute; left: 85%; padding: 10px; background: #999; border-radius: 50%; color: #fff; z-index: 1000;} 
.swiper-pagination{position: relative;  padding-top: 1rem;}
.swiper-pagination2{ text-align: center;}

#so .so_content {padding-top: 3rem; gap: 2rem;}
#so .so_content .item p{ width: 650px;}
#so .so_content .item .img_box{width: 100%; height: 200px;}

#pro .pro{height: 100px; align-items: center; grid-template-columns: repeat(2,682.5px); gap: 35px;}
#pro .slide{width: 100%; overflow: hidden; }
#pro .pro_slide{width: 500%; }
#pro .pro_slide .item{width: 682.5px;}

#two_section .container .more{padding-left: 10px; line-height: 50px; color: #999;}
#two_section .container {grid-template-columns: repeat(2, 1fr); gap: 7rem;}
#two_section .container .item_L .top{justify-content: space-between; padding-bottom: 2rem;}
#two_section .container .item_L .top .Btext{font-size: 1.2rem;}

#two_section .container .item_R .list{padding-top: 1rem; border-bottom: 1px solid #999; color: #999;}
#two_section .container .item_R .item{border-top: 1px solid #999; grid-template-columns: 5% 75% 25%; text-align: center; padding: 1rem 0rem;}

#artist{padding-bottom: 7rem;}
#artist .container .top{grid-template-columns: repeat(2,1fr); padding-bottom: 2.5rem;}
#artist .container .top .item{gap: 1rem;}
#artist .content{grid-template-columns: repeat(5, 250px);  gap: 2rem;}
#artist .content .item .img_box{height: 190px;}

.footer-box{width: 100%; height: 340px; }
footer{position: fixed; width: 100%; height: 340px; padding: 3rem;bottom: 0; z-index: 1; background: #000; color: #999;  grid-template-columns: repeat(2, 1fr); z-index: -1;}
footer .item_L{flex-direction: column; justify-content: space-between;}
footer .item_R{flex-direction: column; justify-content: space-between;}
footer .item_R .top{gap: 2rem;}
footer .item_R .top .item{flex-direction: column;}
footer .item_R .buttom{justify-content: space-between;}
footer .item_R .buttom select{background: #000; padding: .5rem .5rem; width: 200px;}
.more{color: #999; }

@keyframes op {
   from{opacity: 0;}
   to{opacity: 1;} 
}

.op{animation: op 2s both linear;}

#sub1 .grid{grid-template-columns: repeat(2,1fr);}
#sub1 .l_item .content{font-size: 1.1rem;}
#sub1 .r_item .title{padding: 0rem 0rem 1rem 1rem;}
#sub1 .r_item .smaText{padding-bottom: 2rem;}
#sub1 .text_box{padding: 3rem 0rem;}
#sub1 .img_content{grid-template-columns: repeat(2,1fr); gap: 3rem; padding-bottom: 15rem;}
#sub1 .img_content .img_box{height: 400px;}
#sub1 .c_text_box{gap: 3rem; padding: .2rem 0rem;}
.img_box{position: relative;}
.img_box:hover ::after{position: absolute; left: 0; top: 0; width: 100%; height: 100%; filter: brightness(1.1);}

.boro.grid{position: fixed; top: 200px; left: 250px; grid-template-columns: repeat(5,30px); text-align: center;}
#sub2{padding-top: 6rem;}
#sub2 .info{grid-template-columns: 250px 250px 900px;}